<!-- page connexion -->
<div class="shadowbox">
  <p>
    Voici la page de connexion pour accéder à la plateforme
  </p>
  
  <form>
  <label for="zoneTexte">Identifiant :</label><br>
  <textarea id="zoneTexte" name="zoneTexte" rows="1" cols="50"></textarea><br>
  <label for="zoneTexte">Mot de passe :</label><br>
  <textarea id="zoneTexte" name="zoneTexte" rows="1" cols="50"></textarea><br>
  <input type="submit" formaction="../etudiant/etudiant.component.html" value="Soumettre" >
  
</form>
</div>

